/* =============================
   Header Navigation Styles
   ============================= */

.top-nav {
  width: 100%;
  background: #fdfdfb;
  white-space: nowrap;
  
}

.nav-inner {
  width: 95%;
  margin: 0 auto;
  border-bottom: 3px solid #691d34;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.02rem;
  font-weight: bold;
  font-size: clamp(0.7rem, 3vw, 2rem);
  color: #5c1126;
  cursor: pointer;
}

.nav-left,
.nav-right {
  display: flex;
  gap: clamp(0.5rem, 2vw, 2rem);
  position: relative;
  z-index: 5;
}

.nav-left{
    gap: clamp(0.5rem, 2vw, 2rem);
}

.nav-menu > span {
  flex: 1 1 auto;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 100;
  font-size: clamp(1.5rem, 6vw, 6rem);
  padding: 0 clamp(0rem, 1vw, 1.5rem);
  cursor: pointer;
}

/* =============================
   Sticky Dropdown Bar (click)
   ============================= */

.works-trigger {
  display: flex;
  align-items: center;
}



.nav-label {
  font-family: 'DM Sans', sans-serif;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: #5c1126;
  font-size: clamp(0.7rem, 3vw, 2rem);
  white-space: nowrap;
  cursor: pointer;
}

.nav-label:hover {
  color: #b5728d;
}


.nav-label-wrapper {
  display: flex;
  align-items: center;
  padding:0;
  margin:0;
}

.dropdown-bar-menu-container {
     display: flex;
    justify-content: center; 

}

.dropdown-bar-menu-border {
    display: flex;
    justify-content: center; 
    width:95%;
    border-bottom: #5c1126 3px solid;

}


/* Dropdown menu bar */
.dropdown-bar-menu {
  position: relative;
  width: 90%;
  background-color: #a4838f;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
  font-style: italic;
  font-size: 1.25rem;
  color: white;
  text-transform: lowercase;
  z-index: 999;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.dropdown-bar-menu span {
  cursor: pointer;
  transition: color 0.2s ease;
  white-space: nowrap;
}

.dropdown-bar-menu span:hover {
  color: #320412;
}
