.mantis-loading-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 9999; /* make sure it's above everything */
  animation: fadeIn 0.5s ease-in-out;
}


.mantis-spinner {
    width: clamp(80px, 15vw, 150px); /* Responsive between 80–150px */
    animation: spin 3s linear infinite;
}

.mantis-loading-text {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-family: 'Georgia', serif;
  color: #4e0020;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
